<h1>Post Count: <%= @statistics.posts_count %></h1>
<h1>Quote Count: <%= @statistics.quotes_count %></h1>
<h1>Word count for posts: <%= @statistics.posts_word_count %></h1>
<h1>Word count for quotes: <%= @statistics.quotes_word_count %></h1>
<h1>Total count of posts and quotes: <%= @statistics.total_count %></h1>
<h1>Total word count of posts and quotes: <%= @statistics.total_word_count %></h1>